altair
anyio
asttokens
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
comm
cryptography
db-dtypes
debugpy
executing
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
httptools
idna
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
narwhals
nest-asyncio2
numpy
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydeck
Pygments
python-dateutil
python-multipart
pyzmq
referencing
requests
rpds-py
six
stack-data
starlette
streamlit
tenacity
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
uvicorn
watchdog
wcwidth
websockets
